.box {
  margin-left: 6px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  .round-box {
    display: flex;
    align-items: center;
    .round-text {
      animation: flash 2s infinite;
      transition: 0.2s;
      margin-right: 10px;
    }
  }
  .game-box {
    display: flex;
    align-items: center;
    .players-box {
      padding: 10px;
      width: 120px;
    }
    .choice-box {
      overflow-x: auto;
      .row {
        display: flex;
        * {
          margin-bottom: 5px;
        }
      }
    }
  }
  button {
    margin-right: 5px;
    margin-bottom: 5px;
    width: fit-content;
  }
  .rules-box {
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;
    color: red;
    padding: 6px 14px;
    width: fit-content;
  }
}

@keyframes flash {
  50% {
    color: rgb(155, 155, 155);
  }
}
