:root {
  background-color: rgb(242, 242, 236);
}

@font-face {
  font-family: miracode;
  src: url(../public/font/Miracode.ttf);
}

* {
  font-family: miracode, 'Segoe UI', Tahoma;
  font-weight: 600;
  touch-action: manipulation;
}

button {
  cursor: pointer;
  color: black;
  background-color: beige;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 7px;
}
